h2{
	margin-left: 170px;
}
h3{
	font-family: cursive;
	margin: 5px 0px 0px 0px;
	}
.Detail_Layanan{
	width: 1000px;
	height: 380px;
	margin-left: 170px;
	margin-bottom: 10px;
	padding-left: 20px;
	border: 1px solid black;
}
.Detail_Layanan input{
	margin-left: 10px;
	margin-bottom: 3px;
}
	.Detail_Layanan1{
		font-family: calibri;
		height: 345px;
		width: 65%;
		/*border: 1px solid red;*/
		float:left;
	}
		.JenisnPaket{
			height: 120px;
			/*border: 1px solid blue;*/
		}
		.JenisnPaket p{
			margin: 0px 0px 1px 20px;
		}
			.Jenis_Permohonan{
				width: 250px;
				height: 120px;
				/*border: 1px solid white;*/
				float: left;
				margin-right: 20px;
			}
			.Paket_Layanan{
				width: 350px;
				height: 120px;
				margin-left: 10px;
				/*border: 1px solid yellow;*/
				float:left;
			}
		.NoLayanan{
			height: 100px;
			/*border: 1px solid green;*/
		}
		.NoLayanan p{
			margin: 0px 0px 2px 20px;
		}
		.Waktu_Instalasi{
			margin-top: -10px;
			height: 110px;
			/*border: 1px solid purple;*/
		}
		.Waktu_Instalasi p{
			margin: 0px 0px 2px 20px;
		}
	.Fitur_Tambahan{
		height: 345px;
		width: 25%;	
		/*border: 1px solid red;*/
		float: right;
	}
.Detail_Pelanggan{
	width: 1000px;
	height: 540px;
	margin-left: 170px;
	margin-bottom: 10px;
	border: 1px solid black;
	padding-left: 20px;
}
.Detail_Pelanggan p{
	margin: 0px 0px 10px 20px;
}
	.biodataIbu{
		height: 100px;
		width: 900px;
		margin-left: 10px;
		padding-left: 10px;
		padding-top: 10px;
		border: 2px solid black;
	}
.Jenis_Pembayaran{
	width: 1000px;
	height: 170px;
	margin-left: 170px;
	margin-bottom: 10px;
	padding-left: 20px;
	border: 1px solid black;
}
.Jenis_Pembayaran p{
	margin: 0px 0px 10px 20px;
}
.Pembayaran_Debit{
	width: 1000px;
	height: 240px;
	margin-left: 170px;
	margin-bottom: 10px;
	padding-left: 20px;
	border: 1px solid black;
}
.Informasi_Tagihan{
	width: 1000px;
	height: 130px;
	padding-left: 20px;
	margin-left: 170px;
	margin-bottom: 10px;
	border: 1px solid black;
}
.Informasi_Tambahan{
	width: 1000px;
	height: 450px;
	margin-left: 170px;
	margin-bottom: 10px;
	padding-left: 20px;
	border: 1px solid black;
}
